@{ 
    
    var listRecentlyPost = (List<News.Web.Models.Article>)ViewBag.NewArticle;
}

<div class="single-sidebar-widget popular-post-widget">
    <h4 class="single-sidebar-widget__title">Popular Post</h4>
    <div class="popular-post-list">
        @foreach (var item in listRecentlyPost)
        {
            <div class="single-post-list">
                <div class="thumb">
                    <img class="card-img rounded-0" src="@item.Picture" alt="">
                    <ul class="thumb-info">
                        <li><a href="#">@item.Author</a></li>
                        <li><a href="#">@item.CreatedDate.ToShortDateString()</a></li>
                    </ul>
                </div>
                <div class="details mt-20">
                    <a href="blog-single.html">
                        <h6>@item.Title</h6>
                    </a>
                </div>
            </div>
        }


    </div>
</div>